
    <div class="about-container">
      <div class="row">
        <div class="col">
          <div class="about-paragrah">
            <h2 class="about-title">About Sweet Mango </h2>
            <h4 class="about-title"> Owner/Esthetician: Amanda L'Ecuyer </h4>
            <p>
                Born and raised in Niagara, Amanda was inspired by the field of esthetics at a young age.
                Strongly influenced by her older sister Tara (Beauty Boutique and Sales Manager for Shoppers and freelance Make-up Artist), Amanda had her sights set on the PEBEC School of Advanced Esthetics in London, Ontario.
                With a passion for the craft and a thirst for knowledge, she gained hands-on experience in the field at various spas in Niagara.
            </p>
            <p>
                In her own experiences, business and personal, Amanda found that waxing was painful, harmful to the skin, and unsanitary.
                Amanda refused to settle for the common misconception that waxing was the only form of hair removal, and began studying the SugarBrig technique directly under its owner/operator, Brigitte Fournier.
                The art of Brigette’s technique is practiced only by certified SugarBrig practitioners and offers the most organic, all natural (100% edible), efficient and popular hair removal practice.
            </p>
            <p>
                The organic paste used is simply a mix of sugar cane, lemon and distilled water, and is applied at room temperature to minimalize irritation and burns.

                Getting away from the ancient approach of waxing, the paste is applied against the hair growth, and gently removed in the opposite direction, which significantly prevents breakage and ingrown hairs. In 2008 fully certified, Amanda set out for the big city and set up independently a home-based business in down town Toronto. Now years later Sweet Mango has moved to the trendy Queen West in the heart of the city. Amanda consistently satisfied clientele will be the first to tell you that sugaring is a very welcoming alternative to waxing, and her young inviting and sociable essence keeps them coming back for more.
            </p>
          </div>
        </div>
        <div class="col">
          <%= image_tag('amanda-about-picture.jpeg', class:"about-picture")%>
        </div>
      </div>
    </div>
