<div class="article-container">
  <div class="parallax-container"></div>
  <h2>Sweet Truths (Q&A)</h2>
  <h5>Q: WHAT IS THE DIFFERENCE BETWEEN WAX AND SUGAR?</h5>
  <p>A: Several types of wax (strips, hot, and hard wax) all consist of chemicals including petroleum resin, which leaves that greasy feel and clogs your pores. Hot wax can even leave burns and irritations. Sugaring is applied at room temperature and is composed of 100% organic materials (natural sugar cane, lemon, distilled water, and essential oils).</p>
  <h5>Q: WHAT MAKES SUGAR DIFFERENT THAN ANY OTHER FORM OF HAIR REMOVAL?</h5>
  <p>A: The technique. A standard waxing or sugaring is applied with the hair growth and ripped away, leaving breakage and ingrown hairs. Sugar is applied against the hair growth and flicked in the direction of the growth, which significantly prevents the breakage and ingrown hairs.</p>
  <h5>Q: HOW LONG DOES IT TAKE FOR THE HAIR TO GROW BACK?</h5>
  <p>A: Depending on the treated area, regrowth can occur in 3 to 5 weeks.</p>
  <h5>Q: WHAT STEPS SHOULD I TAKE PRIOR TO MY APPOINTMENT?</h5>
  <p>A: Please refrain from using any facial/body cream or deodorant 24 hours before treatment as it will clog the pores and make it more difficult for hair removal. For women, be sure to book your appointment after your menstrual cycle to avoid increased sensitivity. Avoid direct contact with heat, such as tanning, hot baths, as well as exfoliating 24 hours prior to treatment. Epson salt baths are not recommended as it dehydrates and contracts the skin around the follicle causing ingrown hairs.</p>
  <h5>Q: WHAT STEPS SHOULD I TAKE IMMEDIATELY AFTER MY APPOINTMENT?</h5>
  <p>A: If this is your first visit, you may encounter redness or tenderness in the sugared area. It is normal for the area to be sensitive and the redness will dissipate over the next few hours. Additionally, you should:

 - Avoid direct contact with heat such as tanning, hot baths, as well as exfoliating 24 hours after to treatment. Avoid harsh soaps, moisturizers, perfumes and deodorants for 24 hours after receiving treatment
- Refrain from vigorous activities causing excess perspiration, as it may result in irritation.
- Exfoliation of the area is required to prevent ingrown hairs from surfacing, exfoliate 2-3 times per week after receiving treatment.
- To remove dead skin cells on recently sugared area, an assortment of products and tools can be used. However, for a quick and easy method, a loofa or exfoliating gloves work best.
</p>
<div class="go-back-button">
  <a class="btn btn-light" href="/" role="button">Home</a></div>
</div>
</div>
