<div class="article-container">
  <div class="parallax-container">
    <%=image_tag 'faq-banner-4.jpg', class:"faq-banner-picture"%>
  </div>
  <h2>Why Sweet Mango?</h2>
  <p>With such a passionate, knowledgable and incredibly friendly Owner/Esthetician using the industry’s most organic, all natural, and even edible product, the result and experience will speak for itself. If you’ve hopefully taken a look at our site’s in-depth articles on laser hair removal and waxing, or if you’ve regrettably experienced these painful and outdated methods, you’ve already seen numerous examples of why Sweet Mango is the change you’ve been looking for. Incredibly affordable, located in the heart of downtown Toronto, and willing to work with your busy schedule, Sweet Mango is more than capable of making your next question, “Why Not?” Or even, “Where’s the contact page?” (It’s in the top right corner!)</p>
<br>
<br>
<p>Stay Sweet</p>

<div class="go-back-button">
  <a class="btn btn-outline-dark" href="/" role="button">Home</a></div>
</div>
</div>
