<div class="faq-container">
  <h2 class="faq-title">FAQ & Fun Fact</h2>
  <div class="row justify-content-md-center">
    <div class="col-md-auto col-6" id="caption">
      <a href = "/pages/_faq1">
        <span class="text">
          <h4>Laser Hair Removal</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('faq-banner-1.jpg', class:"faq-pic-1")%>
      </a>
    </div>
    <div class="col-md-auto col-6" id="caption">
      <a href = "/pages/_faq2">
        <span class="text">
          <h4>Wax vs. Sugar</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('faq-banner-3.jpg', class:"faq-pic-2") %>
      </a>
    </div>
    <div class="col-md-auto col-6" id="caption">
      <a href = "/pages/_faq4">
        <span class="text">
          <h4>Why Sweet Mango</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('faq-banner-2', class:"faq-pic-1") %>
      </a>
    </div>
    <div class="col-md-auto col-6" id="caption">
      <a href = "/pages/_faq3">
        <span class="text">
          <h4>Sweet Truths (Q&A)</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('faq-banner-4', class:"faq-pic-2") %>
      </a>
    </div>
  </div>
</div>
