<div class="faq-container">
  <h2 class="insta-title">FAQ & Fun Fact</h2>
  <div class="row justify-content-md-center">
    <div class="col-md-auto" id="caption">
      <a href = "/pages/_faq1">
        <span class="text">
          <h4>Laser Hair Removal</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('faq-banner-1.jpg', class:"faq-pic")%>
      </a>
    </div>
    <div class="col-md-auto" id="caption">
      <a href = "/pages/_faq2">
        <span class="text">
          <h4>Wax vs. Sugar</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('faq-banner-2.jpg', class:"faq-pic") %>
      </a>
    </div>
    <div class="col-md-auto" id="caption">
      <a href = "/pages/_faq4">
        <span class="text">
          <h4>Why Sweet Mango</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('faq-banner-5', class:"faq-pic") %>
      </a>
    </div>
    <div class="col-md-auto" id="caption">
      <a href = "/pages/_faq3">
        <span class="text">
          <h4>Sweet Truths (Q&A)</h4>
          <h7>Click to read more</h7>
        </span>
        <%= image_tag('faq-banner-6', class:"faq-pic") %>
      </a>
    </div>
  </div>
</div>
