<div class="contact-form">
  <div class="contact-header">
    <h4>Let's Mango</h4>
    <h5>Book Your Appointment Today</h5>
  </div>
  <form>
    <div class="form-group">
      <label for="inputName">Name<label>
      <input type="name" class="form-control" placeholder="Enter Your Name">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email Address</label>
      <input type="email" class="form-control" id="exampleFormControl" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Service</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tell me what services do you need."></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Ideal Date and Time</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tell me the date and time that works the best for you, and we can work around that."></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Note</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Leave me a note if you have any concern or question."></textarea>
    </div>
  </form>

</div>
