/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'bootstrap';

 @font-face {
   font-family: 'simplifica';
   src: font-url('simplifica.ttf');
   font-weight: bold;
   font-family: 'Quicksand', sans-serif;
 }

 $burnt-orange: #D45113;
 $sandy-brown: #F29660;
 $mandarin: #F27D3A;
 $topaz: #FFC27D;
 $neon-carrot: #FF9F51;
 $carrot-orange: #F49621;
 $light-grey: #D2D8D8;
 $platinum: #E8E9E9;
 $isabelline: #ECEDEE;
 $linen: #F9F1EA;
 $almond: #EFD9CE;
 $snow: #FCFAFA;


//home page
//home banner
.parallax-container-home {
  background-image: url("main-page-banner.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//intro section how sweet it is
.intro-picture {
  margin-left: 18%;
}

.intro-title {
  text-align: center;
  font-family: simplifica;
}

.intro-container {
  background-color: $snow;
  padding-top: 5%;
  padding-bottom: 5%;
}

.intro-paragrah {
  margin-right: 35%;
  padding-top: 8%;
  font-family: Quicksand;
}

//price list
#pricing-table {
	margin: 100px auto;
  margin-top: 5%;
	text-align: center;
	width: 900px;
}

#pricing-table .plan {
	font: 10px;
	text-shadow: 0 1px rgba(255,255,255,.8);
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */
	float: left;
	position: relative;
	margin-top: 5%;
}

#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}

#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#pricing-table .plan:nth-child(4) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

#pricing-table h3 {
	font-size: 20px;
	// font-weight: normal;
	font-family: Quicksand;
	padding: 10px;
	margin: -20px -20px 50px -20px;
	background-color: $linen;
	background-image: -moz-linear-gradient(#fff, $linen);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to($linen));
	background-image: -webkit-linear-gradient(#fff, $linen);
	background-image: -o-linear-gradient(#fff, $linen);
	background-image: -ms-linear-gradient(#fff, $linen);
	background-image: linear-gradient(#fff, $linen);
}

#pricing-table #most-popular h3 {
	background-color: $almond;
	background-image: -moz-linear-gradient($linen,$almond);
	background-image: -webkit-gradient(linear, left top, left bottom, from($linen), to($almond));
	background-image: -webkit-linear-gradient($linen, $almond);
	background-image: -o-linear-gradient($linen, $almond);
	background-image: -ms-linear-gradient($linen, $almond);
	background-image: linear-gradient($linen, $almond);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

#pricing-table h3 span {
	display: block;
	color: #777;
  background: white;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
	font-family: Quicksand;
	font-size: 15px;
}

#pricing-table .signup {
	position: relative;
	font-family: Quicksand;
	font-size: 15px;
	padding: 8px 20px;
	margin: 20px 0 0 0;
	color: Black;
	font: bold 14px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	background-color: $linen;
	background-image: -moz-linear-gradient($linen, $almond);
	background-image: -webkit-gradient(linear, left top, left bottom, from($linen), to($almond));
	background-image: -webkit-linear-gradient($linen, $almond);
	background-image: -o-linear-gradient($linen, $almond);
	background-image: -ms-linear-gradient($linen, $almond);
	background-image: linear-gradient($linen, $almond);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
	background-color: $almond;
	background-image: -moz-linear-gradient($almond, $linen);
	background-image: -webkit-gradient(linear, left top, left bottom, from($almond), to($linen));
	background-image: -webkit-linear-gradient($almond, $linen);
	background-image: -o-linear-gradient($almond, $linen);
	background-image: -ms-linear-gradient($almond, $linen);
	background-image: linear-gradient($almond, $linen);
}

#pricing-table .signup:active, #pricing-table .signup:focus {
	background: $mandarin;
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}

#pricing-table h3 span img {
  width: 70%;
  margin: 15px;
}


.faq-banner-picture {
  height: 600px;
  margin-left: 14%;
}

.carousel-inner {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  height: 120px;
  width: 120px;
}

#side-nav {
  width: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $carrot-orange;
  overflow-x: hidden;
  padding-top: 20px;
  z-index: 500;
}


#side-nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

#side-nav img {
  height: 30px;
  width: 30px;
}

#subnav {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: white;
  z-index: 100;
}

#subnav a {
  padding: 20px;
  height: 2%;
  color: black;
  font-family: simplifica;
  font-size: 25px;
}

#subnav img {
  height: 30px;
  width: 30px;
}

.banner-container {
  padding: 10%;
}

.banner-logo {
  position: absolute;
  z-index: 10;
  text-align: right;
  margin-top: 4%;
}

.banner-logo img {
  width: 20%;
}

.sub-head {
  text-align: center;
  box-sizing: border-box;
  font-family: Simplifica;
}

.price-table {
  list-style-type: none;
  border: 1.5px solid $burnt-orange;
  margin: 0;
  padding: 0;
  background-color: white;
  color: $burnt-orange;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price-table:hover {
    box-shadow: 0 8px 12px 0 $burnt-orange;
}

// @media only screen and (max-width: 600px) {
//   .columns {
//     width: 100%;
//   }
// }

.contact-button img {
  width: 30px;
  margin-right: 1%;
}

.contact-button {
  text-align: center;
  padding-top: 5%;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.carousel-caption {
  text-align: center;
  margin-bottom: 20%;
}

.about-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.about-picture {
  width: 50%;
  height: 50%;
  margin-right: 35%;
}

.about-title {
  text-align: center;
  font-family: simplifica;
}

.about-paragrah {
  margin-left: 35%;
  font-family: Quicksand;
}

.instagram-container {
  padding-top: 5%;
}


.map-title {
  padding-bottom: 5%;
  text-align: center;
  font-family: simplifica;
}

#map-container iframe {
  text-align: center;
}

.map-container {
  background-color: $isabelline;
  padding-top: 5%;
  padding-bottom: 5%;
}

.ins-pic {
  width: 250px;
  height: 250px;
}

.faq-pic {
  width: 250px;
  height: 250px;
}
.faq-container {
  background-color: $linen;
  padding-top: 5%;
  padding-bottom: 5%;
}

#caption {
  position: relative;
}

#caption .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;
  font-family: simplifica;
  text-align: center;

}

#caption:hover .text {
  opacity: 1;
}

#caption .text h4 {
  // margin: 0;
  color: Black;
}

#caption:hover img {
  -webkit-filter: opacity(20%);
  filter: opacity(20%);
}

.insta-title {
  padding-bottom: 5%;
  text-align: center;
  font-family: simplifica;
}

.col-md-auto {
  margin-bottom: 2.5%;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;

}

 .push {
  height: 50px;
 }

.footer-container {
  margin-top: 5%;
  background-color: black;
}

.footer-logo, .footer-social-media, .footer-copyright{
  text-align: center;
}

.footer-copyright p {
  font-size: 10px;
  color: white;
  margin: auto;
  text-align: center;
}

.footer-copyright {
  // padding-top: 4%;
  // padding-left: 30%;
}

.footer-social-media img {
    width: 30px;
    margin-bottom: 2%;
    // padding-top: 4%;
    padding-top:6%;
}

.mango-footer-logo {
  width: 20px;
  // padding-top: 3%;
  padding-top: 5%;
}

.contact-info img {
  width: 30px;
  margin-right: 2%;
  margin-left: 2%;
}

.contact-info span {
  font-size: 12px;
  color: white;
}

.contact-info {
  padding-top: 4%;
  text-align: left;
  padding-left: 40%;
}

.contact-info li {
  list-style: none;
  font-size: 12px;
  color: white;
}

.contact-form {
  margin: 5% 20% 5% 20%;
}

.contact-header {
  text-align: center;
  margin: 0 0 50px 0;
  font-family: simplifica;

}

.form input, textarea {
  display: block;

}









// .footer-links a {
//     color: #6195FF;
//     text-decoration: none;
//     -webkit-transition: 0.2s opacity;
//     transition: 0.2s opacity;
// }
//
// .footer-links a:hover, a:focus {
//     text-decoration: none;
//     outline: none;
//     opacity: 0.8;
//     color: #6195FF;
// }


//
// .footer-logo {
//     text-align: center;
//     margin-bottom: 40px;
// }
//
//
// .footer-follow {
//     text-align: center;
//     margin-bottom: 20px;
// }
// .footer-follow li {
//     display: inline-block;
//     margin-right: 10px;
//     margin-bottom: 13px;
// }
//
// .footer-follow li a {
//   display: inline-block;
//   width: 50px;
//   height: 50px;
//   line-height: 50px;
//   text-align: center;
//   border-radius: 3px;
//   background-color: #6195FF;
//   color:#FFF;
// }
//
// .footer-copyright p {
//     text-align: center;
//     font-size: 14px;
//     text-transform: uppercase;
//     margin: 0;
//     color:#868F9B;
// }
